/**
 * Shiki
 */
:root {
    --vp-font-family-mono: "SF Mono";
    --vp-code-font-size: 0.9em;
    --vp-code-color: #80cbc4;
    --vp-code-line-height: 1.4;
}
.vp-doc [class*="language-"] pre {
    color: #000 !important;
    background-color: #EFEFEF !important;
    border: 1px solid var(--vp-sidebar-bg-color);
}
.vp-doc .line-numbers-wrapper {
    background-color: #292d3e !important;
    border: 1px solid var(--vp-sidebar-bg-color);
}

.vp-code-block-title-bar,
.tabs {
    box-shadow: none !important;
    background-color: #292d3e !important;
    border: 1px solid var(--vp-sidebar-bg-color);
    border-bottom: none;
}

.vp-doc [class*="language-"] > button.copy:hover::before,
.vp-doc [class*="language-"] > button.copy::before,
.copied,
.copied:hover {
    border: none;
}

.vp-doc :not(pre) > code {
    font-size: 15px;
    background-color: #EFEFEF;
    color: #000;
    font-family: SF Mono;
}

/* Custom block */
.custom-block.info {
    border: 1px solid var(--vt-c-gray);
}

.custom-block.tip {
    border: 1px solid var(--vt-c-green);
}

.tip > .custom-block-title {
    color: var(--vt-c-green);
}

.custom-block.warning {
    border: 1px solid var(--vt-c-yellow-dark);
}

.warning > .custom-block-title {
    color: var(--vt-c-yellow-dark);
}

.custom-block.danger {
    border: 1px solid var(--vt-c-red);
}

.danger > .custom-block-title {
    color: var(--vt-c-red);
}

.vt-badge.wip:before {
    content: "WIP";
}

.vt-badge.ts {
    background-color: #3178c6;
}
.vt-badge.ts:before {
    content: "TS";
}

.vt-badge.dev-only,
.vt-badge.experimental {
    color: var(--vt-c-text-light-1);
    background-color: var(--vt-c-yellow);
}

.vt-badge.dev-only:before {
    content: "Dev only";
}

.vt-badge.experimental:before {
    content: "Experimental";
}

.vt-badge[data-text]:before {
    content: attr(data-text);
}

/* Icons */
.VPNavBarMenuLink > span,
.VPSidebarItem h2,
.VPNavScreenMenuLink > span {
    display: flex;
    align-items: center;
    align-content: center;
    gap: 3px;
}

.VPNavBarMenuLink > span > img {
    width: 20px;
}

.VPSidebarItem h2 > img {
    width: 20px;
}

/* Other */
:root {
    --black: #000;
    --white: #fff;
    --vp-font-family-base: serif;
    --vp-nav-height: 50px;
    --vp-c-text-1: #000;
    --vp-c-text-2: #000;
    --vp-c-text-3: #000;
    --vp-c-brand-1: #000;
}

/* Markdown */
body {
    font-family: var(--vp-font-family-base);
    color: #000;
    -webkit-font-smoothing: unset;
}

.VPDoc {
    padding: 0px 0px 0px 0px !important;
}

.vp-doc a {
    color: var(--black);
}

.vp-doc a:hover {
    background-color: var(--black) !important;
    color: var(--white);
}

.VPSocialLink > [class^="vpi-social-"] {
    color: var(--black);
}
.VPSocialLink {
    height: var(--vp-nav-height) !important;
    width: var(--vp-nav-height) !important;
}

.VPSocialLink:hover {
    border: 1px solid var(--black);
    background-color: var(--black);
}

.VPSocialLink:hover > [class^="vpi-social-"] {
    color: var(--white) !important;
}

.vp-doc p {
    line-height: 160%;
}

.vp-doc strong {
    font-weight: 700;
}

.VPNavBarMenuLink {
    min-width: var(--vp-nav-height);
    justify-content: center;
}

.VPNavBarMenuLink.active {
    background-color: var(--black);
    color: var(--white) !important;
}

.VPNavBarMenuLink:hover,
.VPNavBarMenuLink > span:hover {
    background-color: var(--black);
    color: var(--white) !important;
}

.VPNavBar .content {
    padding-right: 8px !important;
}

.VPSidebar,
.container > .title {
    border-right: 1px solid var(--black);
}

.VPNavBarSearch.has-sidebar {
    padding: 0;
}

/* DocSearch */
.DocSearch {
    height: var(--vp-nav-height);
    background-color: #fff;
}

.DocSearch-Button {
    border: none;
    border-radius: 0;
}

.DocSearch-Search-Icon,
.DocSearch-Button-Placeholder {
    color: var(--black) !important;
}

.DocSearch-Button:hover .DocSearch-Search-Icon,
.DocSearch-Button:hover .DocSearch-Button-Placeholder {
    color: var(--white) !important;
}

.DocSearch-Button:hover {
    color: var(--white);
    border: none;
    background-color: var(--black);
}

.DocSearch-Button-Container {
    align-items: baseline !important;
}

/* Sidebar */
.VPNav {
    border-bottom: 1px solid var(--black);
    z-index: 1000;
}

.title {
    background-color: var(--black) !important;
}

.title > span {
    font-size: 20px;
    color: #fff;
}

.VPSidebar {
    background-color: var(--white) !important;
}

.item:hover > *, .text:hover {
    background-color: var(--black);
    color: var(--white) !important;
    fill: #FFF !important;
}
.item:hover > .indicator {
    background-color: var(--white);
    color: var(--black);
}

#VPSidebarNav > div > section > div.item > h2::before {
    content: '— '
}

/* Headings */
.vp-doc h1,
.vp-doc h2,
.vp-doc h3,
.vp-doc h4,
.vp-doc h5,
.vp-doc h6 {
    margin: 25px 0 0 0;
    padding: 0 !important;

    font-weight: 700;
    letter-spacing: 0;
    border-top: none;
    line-height: 160%;
}
.vp-doc h1 {
    margin: 15px 0 0 0;
    font-size: 2em;
}
.vp-doc h2 {
    font-size: 1.5em;
}
.vp-doc h3 {
    font-size: 1.17em;
}
.vp-doc h4 {
    font-size: 1em;
}

.vp-doc h2 .header-anchor {
    top: 0;
}

/* Display: none */
footer,
.VPLocalNav,
.aside-container,
.VPNavBarAppearance,
.VPSocialLinks::before,
.DocSearch-Button-Keys,
.divider-line {
    display: none !important;
}

.VPFlyout {
    opacity: 0;
}

/* Media */
@media (min-width: 960px) {
    .VPNavBarSearch {
        padding-left: 0;
    }
}

@media (min-width: 768px) {
    .VPNavBarTitle.has-sidebar .title {
        border-bottom-color: #000 !important;
    }

    .VPNavBarSearch,
    .VPNavBarMenuLink,
    .VPNavBarExtra {
        background-color: var(--white) !important;
        color: var(--black) !important;
    }

    .VPNavBarMenuLink.active,
    .VPNavBarMenuLink:hover {
        background-color: var(--black) !important;
        color: var(--white) !important;
    }

    .title {
        padding-right: 20px;
    }

    .VPNavBar:not(.home) {
        background-color: #000 !important;
    }
}

/* Code */
.vp-doc div[class*='language-'] {
    background-color: #EFEFEF !important;
}